import logging

logging.basicConfig(level=logging.INFO)
cfg = { "debian-vm1" :  { "ip" : "192.168.123.1"},
        "debian-vm2" : { "ip" : "192.168.123.2"},
        "debian-vm3" : { "ip" : "192.168.123.3"}
}

controller = "192.168.123.1:6633" # default controller

defaults = { "ip":None, "share": 1 }

runWith1500MTU = False


maxinetBasedir = "~/MaxiNet"


# Keep screen session on workers open
keepScreenOpenOnError = False
# Start pryo on the worker with debug
# To debug the Fronted pyro use PYRO_LOGFILE='{stderr}' PYRO_LOGLEVEL=DEBUG python ...
debugPyroWorker = False